<!-- <div *ngFor="let article of articles">
  <h2>{{article.title}}</h2>

  <p>
    {{article.description}}
  </p>
  <a href="{{article.url}}">Read full article</a>
</div> -->

<div>
  <form action="" method="">
    <label> User Name</label>
    <input type="text" value="username" >
  </form>
</div>