<div class="container-fluid fna-body">
        <div class="row">
              
               <div class="col">
                      <div class="row">
                             <div class="col">
                                    <mat-card-actions (click)="persontype('one')">
                                           <mat-card class="card">
                                                  <mat-card-subtitle>
                                                         <H3> Young and single </H3>
                                                  </mat-card-subtitle>
                                                  <mat-divider></mat-divider>
                                                  <br />
                                                  <mat-card-content class="content">
                                                         <img mat-card-image class="image image_man"
                                                                src="assets/fna/man_single.png"
                                                                alt="Photo of a Single Man" />
                                                  </mat-card-content>
                                           </mat-card>
                                    </mat-card-actions>
 
                             </div>
                             <div class="col">
                                    <mat-card-actions (click)="persontype('two')">
                                           <mat-card class="card">
                                                  <mat-card-subtitle>
                                                         <H3> Married with no Children </H3>
                                                  </mat-card-subtitle>
                                                  <mat-divider></mat-divider>
                                                  <br />
                                                  <mat-card-content class="content">
                                                         <img mat-card-image class="image image_maried"
                                                                src="assets/fna/man_maried.png"
                                                                alt="Photo of a Married Man" />
                                                  </mat-card-content>
                                           </mat-card>
                                    </mat-card-actions>
                             </div>
                      </div>
                      <div class="row">
                             <div class="col">
                                    <mat-card-actions (click)="persontype('three')">
                                           <mat-card class="card">
                                                  <mat-card-subtitle>
                                                         <H3> Married with Children </H3>
                                                  </mat-card-subtitle>
                                                  <mat-divider></mat-divider>
                                                  <br />
                                                  <mat-card-content class="content">
                                                         <img mat-card-image class="image image-child"
                                                                src="assets/fna/maried_children.png"
                                                                alt="Photo of a Married with Children" />
                                                  </mat-card-content>
                                           </mat-card>
                                    </mat-card-actions>
 
                             </div>
                             <div class="col">
                                    <mat-card-actions (click)="persontype('four')">
                                           <mat-card class="card">
                                                  <mat-card-subtitle>
                                                         <H3> Nearing Retirement </H3>
                                                  </mat-card-subtitle>
                                                  <mat-divider></mat-divider>
                                                  <br />
                                                  <mat-card-content class="content">
                                                         <img mat-card-image class="image image-elder"
                                                                src="assets/fna/elder_couple.png"
                                                                alt="Photo of a Elder Couple" />
                                                  </mat-card-content>
                                           </mat-card>
                                    </mat-card-actions>
                             </div>
                      </div>
               </div>
               
        </div>
 </div>