.image_man{
    height: 300px;
    width: inherit;
  }
  .image_maried{
    height: 300px;
    width: inherit;
  }
  .image-child{
    height: 300px;
    width: inherit;
  }
  .image-elder{
    height: 300px;
    width: inherit;
  }
  .card{
    text-align: center;
    min-width: 250px;
  }
  .fna-body{
    text-align: center;
    align-content: center;
  }