.cust-card {
    height: 500px;
  }
  .example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
     border: solid 1px #ccc;
    min-height: 60px;
    width: 100%;
   // background: white;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  .example-list1 {
    // width: 1000px;
    height: 340px;
    max-width: 100%;
    width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  .example-list2 {
    // width: 1000px;
    height: 300px;
    max-width: 100%;
    width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  .example-box {
    width: auto;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .example-box1 {
    margin-right: -45px;
    margin-left: 0px;
    cursor: move;
    border-bottom: solid 1px #ccc;
    //color: rgba(0, 0, 0, 0.87);
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    //justify-content: space-between;
    box-sizing: border-box;
    // cursor: move;
    // background: white;
    // font-size: 14px;
    align-self: flex-end;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }
  /* Animate an item that has been dropped. */

  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }  
  
  .example-container1 {
    width: 200px;
    //max-width: 50%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }


  // Damith ====++++++
  .asd{
    display: block;
    align-self: center ; 
  }

  .familycard{
    max-width: 250px;
    background-color: #f7f7f7c4;
   align-self: center;
   margin-bottom: 8px;
  }
  .familycard .row .col-4{
   align-self: center;
  }
.col-img{
  align-content: center;
}
 .familycard img{
   max-height: 150px;
   max-width: 50px;
   align-self: center;
   align-content: center;
   
 }
 .familycard label{
  font-size: 8px;
 }
 .cardcontent{
   padding-left: 0px !important;
 }
 mat-form-field{
   width: 100px;
   font-size: small;
 }
.Income-lable{
   font-size: small;
   padding: 0px !important;
 }

 mat-slider .salary {
  width: 100px;
  padding: 0px !important;
}

mat-slider .age {
  padding: 0px !important;
}
mat-expansion-panel mat-expansion-panel-header mat-panel-title{
  font-size: small !important;
}

.full-width {
  width: 100%;
}

.cin-total-lable{
text-align: center;
font-family: sans-serif;
color: darkblue;
}

.cin-total-lable p{
  text-align: center;
  color: rgb(252, 48, 48);
  margin-bottom: 0px !important;
  }

  .example-list2 {
    // width: 1000px;
    height: 300px;
    max-width: 100%;
    width: 100%;
    border: solid 0px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  .income-objective{
    width: 90%;
    background-color: rgba(238, 238, 238, 0.856);

  }
  mat-slider {
    width: 100%;
  }

.R-Age{
    width: 50% !important;
  }

  .Income_Objective{
    width: 100%;
  }